## ver10.0

In [1]:
# location of input files
graph_dir = 'C:/Users/U/Documents/BigData/'
#graph_dir = './'

In [2]:
### Set colaboratory True to run in Google Colaboratory. 
colaboratory = False

In [3]:
if colaboratory:
  !apt-get install -y -qq software-properties-common python-software-properties module-init-tools
  !add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
  !apt-get update -qq 2>&1 > /dev/null
  !apt-get -y install -qq google-drive-ocamlfuse fuse
  from google.colab import auth
  auth.authenticate_user()
  from oauth2client.client import GoogleCredentials
  creds = GoogleCredentials.get_application_default()
  import getpass
  !google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
  vcode = getpass.getpass()
  !echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

In [4]:
if colaboratory:
  # drive mean root directory of  google drive
  !mkdir -p drive
  !google-drive-ocamlfuse drive
  !ls drive/"Colab Notebooks"/Social_Proj/data

In [5]:
if colaboratory:
  # location of input files
  graph_dir = 'drive/Colab Notebooks/Social_Proj/data/'
  #graph_dir = './'

In [6]:
if colaboratory:
  !pip install python-louvain

In [7]:
import networkx as nx
import timeit
import community
#from networkx.algorithms.community import greedy_modularity_communities
import numpy as np
import pandas as pd
 
import operator
from timeit import default_timer as timer
from collections import OrderedDict
import os

In [8]:
pd.options.display.max_rows = 8

In [9]:
min_year = 1991
max_year = 2016
n_year=int(max_year - min_year + 1)

In [10]:
global_start = timer() ### Just for total calculation time measurement

In [11]:
#gephi_input_file = 'ml_graph expanded.gexf'
#gephi_input_file = 'ml_graph.gexf'
#gephi_input_file = 'ML Extended.gexf'
gephi_input_file = 'weighted_graph.gexf'
gephi_input = True

In [12]:
node_input = gephi_input_file
#node_input = 'ML articles expanded'
#node_input = 'ML articles'

In [13]:
if gephi_input:
    Graph = nx.read_gexf(graph_dir + gephi_input_file) 
    
    print('Gephi file read. Networkx class : ', type(Graph).__name__)
    if type(Graph).__name__ == 'DiGraph':
        Graph = Graph.to_undirected()
        print('Graph converted to: ', type(Graph).__name__)
    
    ML_df = pd.DataFrame([i[1] for i in Graph.nodes(data=True)], index=[i[0] for i in Graph.nodes(data=True)])
    ML_df.index.name = 'id'
    ML_df.reset_index(inplace=True)
    display(ML_df)

if not gephi_input:
    #ML_df = pd.read_csv(graph_dir + 'ML articles.csv')
    #ML_df = pd.read_csv(graph_dir + 'ML articles expanded.csv')
    ML_df = pd.read_csv(graph_dir + node_input + '.csv')
    #ML_df.loc[:,'year'] = ML_df.loc[:,'year'].apply(int)
    display(ML_df)

Gephi file read. Networkx class :  DiGraph
Graph converted to:  Graph

,id,Year,authors,label
0,261d674170c808873eea4b568089df1996c30ee0,2001,"[{'name': 'Daniel Rueckert', 'ids': ['1717710'...",261d674170c808873eea4b568089df1996c30ee0
1,c2414d375e18bd8d07da4a92268f7865bafd3ea5,2012,"[{'name': 'Fei Teng', 'ids': ['2928080']}, {'n...",c2414d375e18bd8d07da4a92268f7865bafd3ea5
2,e7b4a1d5d234d6a380ae400e0a9b86223dce362b,2012,"[{'name': 'Tao Chen', 'ids': ['2307631']}, {'n...",e7b4a1d5d234d6a380ae400e0a9b86223dce362b
3,a7c2af21f0b94bb66273f9ae28e4cd8e9a04ecf7,2012,"[{'name': 'Tatjana Lange', 'ids': ['19141080']...",a7c2af21f0b94bb66273f9ae28e4cd8e9a04ecf7
...,...,...,...,...
145219,328d5839774940f1c8c4fdd6dc36263d5528f8b8,1999,"[{'name': 'Sameer Singh', 'ids': ['3451035']}]",328d5839774940f1c8c4fdd6dc36263d5528f8b8
145220,4c6662ef67d9d7d369527175efaff2bbd1094e0a,2004,"[{'name': 'Nikola K. Kasabov', 'ids': ['168674...",4c6662ef67d9d7d369527175efaff2bbd1094e0a
145221,9c7b4ae23c6f8703fec225fd2d662611e16a115d,2001,"[{'name': 'Mohamad Obeid', 'ids': ['2126060']}...",9c7b4ae23c6f8703fec225fd2d662611e16a115d
145222,c2074f2d3f03b30b042f7f8187ec34c2f0eb79eb,2006,"[{'name': 'Narendra K. Pareek', 'ids': ['34815...",c2074f2d3f03b30b042f7f8187ec34c2f0eb79eb

In [14]:

cite_df = pd.read_csv(graph_dir + 'ML_cite_adjlist.csv')
cite_df.loc[:,'year'] = cite_df.loc[:,'year'].apply(int)
cite_df

,Unnamed: 0,from,to,year
0,0,008ea97d145202a469113171bfbfeb53b894b6cd,6a239ae3c8bb4aed7d545ff41f08be602ea96144,2012
1,1,008ea97d145202a469113171bfbfeb53b894b6cd,379472e4c1dc354ff392d54328e9bc9b1edc3a53,2012
2,2,008ea97d145202a469113171bfbfeb53b894b6cd,548c994134aab09054ea74fa0609acf8fb411f6b,2012
3,3,008ea97d145202a469113171bfbfeb53b894b6cd,f88370e1207c9ee5257a895f5b587db30148454b,2012
...,...,...,...,...
669803,669803,ffe3ca224357c1bba3192960c34fc1f5a5251b93,06865d55b7ceef648269eefa0c0dbb244fed9113,2010
669804,669804,ffe3ca224357c1bba3192960c34fc1f5a5251b93,7b3036df2eb0f12ba68d60ed946f56c6458feee8,2010
669805,669805,ffe3ca224357c1bba3192960c34fc1f5a5251b93,e626189ff3f46fac824b07b6506969c683aa067f,2010
669806,669806,ffe3ca224357c1bba3192960c34fc1f5a5251b93,8e452677804c1f601d90f1f8e935fc2b11baf5a4,2010

In [15]:

### Limit the citaiton from ML papers only
cite_df = pd.merge(cite_df, ML_df[['id']], left_on ='from', right_on = 'id', how = 'inner')
cite_df.loc[:,'year'] = cite_df.loc[:,'year'].apply(int)
cite_df

,Unnamed: 0,from,to,year,id
0,0,008ea97d145202a469113171bfbfeb53b894b6cd,6a239ae3c8bb4aed7d545ff41f08be602ea96144,2012,008ea97d145202a469113171bfbfeb53b894b6cd
1,1,008ea97d145202a469113171bfbfeb53b894b6cd,379472e4c1dc354ff392d54328e9bc9b1edc3a53,2012,008ea97d145202a469113171bfbfeb53b894b6cd
2,2,008ea97d145202a469113171bfbfeb53b894b6cd,548c994134aab09054ea74fa0609acf8fb411f6b,2012,008ea97d145202a469113171bfbfeb53b894b6cd
3,3,008ea97d145202a469113171bfbfeb53b894b6cd,f88370e1207c9ee5257a895f5b587db30148454b,2012,008ea97d145202a469113171bfbfeb53b894b6cd
...,...,...,...,...,...
594923,669803,ffe3ca224357c1bba3192960c34fc1f5a5251b93,06865d55b7ceef648269eefa0c0dbb244fed9113,2010,ffe3ca224357c1bba3192960c34fc1f5a5251b93
594924,669804,ffe3ca224357c1bba3192960c34fc1f5a5251b93,7b3036df2eb0f12ba68d60ed946f56c6458feee8,2010,ffe3ca224357c1bba3192960c34fc1f5a5251b93
594925,669805,ffe3ca224357c1bba3192960c34fc1f5a5251b93,e626189ff3f46fac824b07b6506969c683aa067f,2010,ffe3ca224357c1bba3192960c34fc1f5a5251b93
594926,669806,ffe3ca224357c1bba3192960c34fc1f5a5251b93,8e452677804c1f601d90f1f8e935fc2b11baf5a4,2010,ffe3ca224357c1bba3192960c34fc1f5a5251b93

In [16]:
ML_df.set_index('id', inplace = True)
dataset_df = ML_df.rename(index=str, columns={"year": "Year"})
dataset_df

,Year,authors,label
id,,,
261d674170c808873eea4b568089df1996c30ee0,2001,"[{'name': 'Daniel Rueckert', 'ids': ['1717710'...",261d674170c808873eea4b568089df1996c30ee0
c2414d375e18bd8d07da4a92268f7865bafd3ea5,2012,"[{'name': 'Fei Teng', 'ids': ['2928080']}, {'n...",c2414d375e18bd8d07da4a92268f7865bafd3ea5
e7b4a1d5d234d6a380ae400e0a9b86223dce362b,2012,"[{'name': 'Tao Chen', 'ids': ['2307631']}, {'n...",e7b4a1d5d234d6a380ae400e0a9b86223dce362b
a7c2af21f0b94bb66273f9ae28e4cd8e9a04ecf7,2012,"[{'name': 'Tatjana Lange', 'ids': ['19141080']...",a7c2af21f0b94bb66273f9ae28e4cd8e9a04ecf7
...,...,...,...
328d5839774940f1c8c4fdd6dc36263d5528f8b8,1999,"[{'name': 'Sameer Singh', 'ids': ['3451035']}]",328d5839774940f1c8c4fdd6dc36263d5528f8b8
4c6662ef67d9d7d369527175efaff2bbd1094e0a,2004,"[{'name': 'Nikola K. Kasabov', 'ids': ['168674...",4c6662ef67d9d7d369527175efaff2bbd1094e0a
9c7b4ae23c6f8703fec225fd2d662611e16a115d,2001,"[{'name': 'Mohamad Obeid', 'ids': ['2126060']}...",9c7b4ae23c6f8703fec225fd2d662611e16a115d
c2074f2d3f03b30b042f7f8187ec34c2f0eb79eb,2006,"[{'name': 'Narendra K. Pareek', 'ids': ['34815...",c2074f2d3f03b30b042f7f8187ec34c2f0eb79eb

In [17]:
if gephi_input:
    merged_df = dataset_df.copy()
    

if not gephi_input:
    

    
    oldest_in_cite_df = cite_df.groupby(['to'])[['year']].min()
    oldest_in_cite_df.index.name = 'id'
    print('# of all in-cited papers: ', len(oldest_in_cite_df))
    oldest_in_cite_df
    
    merged_df = pd.merge(dataset_df, oldest_in_cite_df, left_index = True, right_index = True, how = 'outer')
    #display(merged_df)
    #merged_df['Year'].combine_first(merged_df['year'])
    merged_df.loc[:, 'ML_flag'] = True
    merged_df.loc[pd.isnull(merged_df['Year']), 'ML_flag'] = False
    merged_df.loc[pd.isnull(merged_df['Year']), 'Year'] = merged_df.loc[pd.isnull(merged_df['Year']), 'year']
    merged_df.drop(['year'], axis=1, inplace = True)

    print(merged_df.shape)
    display(merged_df)

In [18]:
cite_df.loc[:,'Num_Out_Citations'] = 1

out_cite_df = cite_df.groupby(['from'])[['Num_Out_Citations']].sum()
out_cite_df.index.name = 'id'
out_cite_df

                                          Num_Out_Citations
id
0003cef29c64620b7d962d20b6939b286124ef46                  6
0003e735e0fbc2f2f571ce696c0a3d21ab57e614                  5
0006204e4ba37eff6d926b2ef0b4d421b2158945                 11
00076e4489cfda9a55932a1b32306cd51f40926a                 36
...                                                     ...
fff73b4a46ac8d071155ffe30d708cf5cf3f2b53                  9
fffae221f92229eeb398ba033040a8f283314c8b                  5
fffd458edd60ec0a19603fe8436df5c9d12d26ae                 24
fffea404de3b99a2c601f2139c88524e43a5213e                 81

[28099 rows x 1 columns]

In [19]:

merged1_df = pd.merge(merged_df, out_cite_df, left_index = True, right_index = True,  how = 'left')
merged1_df.loc[:,'Num_Out_Citations'].fillna(0, inplace = True)

if gephi_input:
    cols = ['Year', 'authors', 'journalName', 'title', 'paperAbstract'] + ['Num_Out_Citations']
if not gephi_input:
    cols = ['Year', 'authors', 'journalName', 'title', 'paperAbstract'] + ['keyPhrases', 'venue', 'pdfUrls', 's2Url', 'ML_flag'] + ['Num_Out_Citations']
merged1_df = merged1_df.loc[:, cols]
print(merged_df.shape)
merged1_df

(145223, 3)

C:\Users\U\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,Year,authors,journalName,title,paperAbstract,Num_Out_Citations
id,,,,,,
261d674170c808873eea4b568089df1996c30ee0,2001,"[{'name': 'Daniel Rueckert', 'ids': ['1717710'...",NaN,NaN,NaN,0.0
c2414d375e18bd8d07da4a92268f7865bafd3ea5,2012,"[{'name': 'Fei Teng', 'ids': ['2928080']}, {'n...",NaN,NaN,NaN,50.0
e7b4a1d5d234d6a380ae400e0a9b86223dce362b,2012,"[{'name': 'Tao Chen', 'ids': ['2307631']}, {'n...",NaN,NaN,NaN,0.0
a7c2af21f0b94bb66273f9ae28e4cd8e9a04ecf7,2012,"[{'name': 'Tatjana Lange', 'ids': ['19141080']...",NaN,NaN,NaN,0.0
...,...,...,...,...,...,...
328d5839774940f1c8c4fdd6dc36263d5528f8b8,1999,"[{'name': 'Sameer Singh', 'ids': ['3451035']}]",NaN,NaN,NaN,0.0
4c6662ef67d9d7d369527175efaff2bbd1094e0a,2004,"[{'name': 'Nikola K. Kasabov', 'ids': ['168674...",NaN,NaN,NaN,0.0
9c7b4ae23c6f8703fec225fd2d662611e16a115d,2001,"[{'name': 'Mohamad Obeid', 'ids': ['2126060']}...",NaN,NaN,NaN,0.0
c2074f2d3f03b30b042f7f8187ec34c2f0eb79eb,2006,"[{'name': 'Narendra K. Pareek', 'ids': ['34815...",NaN,NaN,NaN,0.0

In [20]:
merged2_df = merged1_df[merged1_df['Year'].notnull()].copy()
merged2_df.loc[:,:].fillna('_', inplace = True)

print(merged2_df.shape)
merged2_df

(145223, 6)

,Year,authors,journalName,title,paperAbstract,Num_Out_Citations
id,,,,,,
261d674170c808873eea4b568089df1996c30ee0,2001,"[{'name': 'Daniel Rueckert', 'ids': ['1717710'...",_,_,_,0.0
c2414d375e18bd8d07da4a92268f7865bafd3ea5,2012,"[{'name': 'Fei Teng', 'ids': ['2928080']}, {'n...",_,_,_,50.0
e7b4a1d5d234d6a380ae400e0a9b86223dce362b,2012,"[{'name': 'Tao Chen', 'ids': ['2307631']}, {'n...",_,_,_,0.0
a7c2af21f0b94bb66273f9ae28e4cd8e9a04ecf7,2012,"[{'name': 'Tatjana Lange', 'ids': ['19141080']...",_,_,_,0.0
...,...,...,...,...,...,...
328d5839774940f1c8c4fdd6dc36263d5528f8b8,1999,"[{'name': 'Sameer Singh', 'ids': ['3451035']}]",_,_,_,0.0
4c6662ef67d9d7d369527175efaff2bbd1094e0a,2004,"[{'name': 'Nikola K. Kasabov', 'ids': ['168674...",_,_,_,0.0
9c7b4ae23c6f8703fec225fd2d662611e16a115d,2001,"[{'name': 'Mohamad Obeid', 'ids': ['2126060']}...",_,_,_,0.0
c2074f2d3f03b30b042f7f8187ec34c2f0eb79eb,2006,"[{'name': 'Narendra K. Pareek', 'ids': ['34815...",_,_,_,0.0

In [21]:
### merged2_df.to_csv(graph_dir + 'All_Papers' '.csv')

In [22]:
if not gephi_input:
    ### Create graph

    Graph = nx.Graph()

    ### Add edges and edge attributes (year)
    cite_a_list_df = cite_df

    adj=cite_a_list_df[['from','to']]
    adj_tuple=list(adj.itertuples(index=False,name=None))   
    Graph.add_edges_from(adj_tuple)
    #nx.write_gexf(Graph, graph_dir + 'ML+_graph.gexf') ## To check numpy float/int error

In [23]:
if not gephi_input:
    cite_a_list_df['from_to'] = cite_a_list_df[['from', 'to']].apply(tuple, axis=1)
    edge_year_dict=dict(zip(cite_a_list_df['from_to'], [int(year) for year in cite_a_list_df['year']]))
    nx.set_edge_attributes(Graph, edge_year_dict,name='Year')
    #nx.write_gexf(Graph, graph_dir + 'ML+_graph.gexf') ## To check numpy float/int error

In [24]:

for col in cols:    
    node_dict = merged2_df[col].to_dict()
    if col in ['Year', 'Num_Out_Citations']:
        node_dict  = {k:int(v) for (k, v) in node_dict.items()}
    if col in ['ML_flag']:
        node_dict  = {k:bool(v) for (k, v) in node_dict.items()}
    nx.set_node_attributes(Graph, node_dict, col)

### Write to Gephi files
#nx.write_gexf(Graph, graph_dir + 'ML+_graph.gexf') ## To check numpy float/int error

In [25]:
num_nodes = len(Graph.node)
num_edges = Graph.number_of_edges()
print('# of nodes : ', num_nodes, '| # of edges : ', num_edges)

# of nodes :  145223 | # of edges :  981146

### Extract the largest connected component

In [26]:
Graph = max(nx.connected_component_subgraphs(Graph), key=len)

In [27]:
# add degree and Num_In_Citations later
degree_dict = dict(Graph.degree())
nx.set_node_attributes(Graph, degree_dict, 'Degree')
num_out_citations_dict = nx.get_node_attributes(Graph, 'Num_Out_Citations' )

num_in_citations_dict = {i: (int(degree_dict[i] - num_out_citations_dict[i])) for i in Graph.node}
#num_in_citations_dict = dict([[i, (int(degree_dict[i] - num_out_citations_dict[i]))] for i in Graph.node])
#num_in_citations_dict  = {}
#for i in Graph.node:
#    num_in_citations_dict[i] = int(degree_dict[i] - num_out_citations_dict[i])

nx.set_node_attributes(Graph,num_in_citations_dict,'Num_In_Citations')

In [28]:
# Here we create subgraphs, nodes and edges are accumulated every year. Calculation done for CNM and Louvain method

def subgraph_by_year(Graph,option='accumulate',connected='yes'):
    """
    option='accumulate' will accumulate the nodes and edges of the graph year on year
    option='separate' will only keep the nodes year on year, edges from previous years will not be retained
    connected='yes' will only use the largest connected component for each year
    connected='no' will use all available nodes for each year
    """
    
    # get node and edge year
    node_yr=nx.get_node_attributes(Graph,'Year')
    edge_yr=nx.get_edge_attributes(Graph,'Year')
    
    # dictionarys to filter nodes and edges by year
    n_year=int(max(node_yr.values())-min(node_yr.values()))+1
    min_year=min(node_yr.values())
    list_dict_node_year=[{} for i in range(n_year)]
    list_dict_edge_year=[{} for i in range(n_year)]
    for i in range(n_year):
        if option=='accumulate':
            list_dict_edge_year[i]={k:v for (k,v) in edge_yr.items() if  v<=min_year+i}
            list_dict_node_year[i]={k:v for (k,v) in node_yr.items() if  v<=min_year+i}
        elif option=='separate':
            list_dict_edge_year[i]={k:v for (k,v) in edge_yr.items() if  v==min_year+i}
            list_dict_node_year[i]={k:v for (k,v) in node_yr.items() if  v<=min_year+i}       
        
        else:
            raise Exception("wrong keyword for option. use accumulate or separate only")
     
    print('Input Graph has',Graph.number_of_nodes(),'nodes and',Graph.number_of_edges(),'edges')  
    H=[nx.Graph() for i in range(n_year)]
    if option=='accumulate':
        for i in range(n_year):
            start = timer()
            if connected=='no':
                 H[i]=nx.subgraph(Graph,list(list_dict_node_year[i].keys())).copy()
            elif connected=='yes':
                 H[i]=nx.subgraph(Graph,list(list_dict_node_year[i].keys())).copy()
                 H[i]=max(nx.connected_component_subgraphs(H[i]), key=len)
            #H[i].add_nodes_from(list(list_dict_node_year[i].keys()))
            #H[i].add_edges_from(list(list_dict_edge_year[i].keys()))
            else:
                raise Exception("wrong keyword for connected. use yes or no only")
            end = timer()    
            print('Calculation Time (sec): ', "{0: 6.0f}".format(end - start), '|' + 'Year:',str(i+min_year),'--',H[i].number_of_nodes(),'nodes --',H[i].number_of_edges(),'edges')

    elif option=='separate':
        for i in range(n_year):
            start = timer()
            if connected=='no':
                 H[i]=nx.subgraph(Graph,list(list_dict_node_year[i].keys())).copy()
            elif connected=='yes':
                 H[i]=nx.subgraph(Graph,list(list_dict_node_year[i].keys())).copy()
                 H[i]=max(nx.connected_component_subgraphs(H[i]), key=len)
            #H[i].add_nodes_from(list(list_dict_node_year[i].keys()))
            #H[i].add_edges_from(list(list_dict_edge_year[i].keys()))
            else:
                raise Exception("wrong keyword for connected. use yes or no only")            
            
            end = timer()    
            print('Calculation Time (sec): ', "{0:.0f}".format(end - start), '|' + 'Year:',str(i+min_year),'--',H[i].number_of_nodes(),'nodes --',H[i].number_of_edges(),'edges')
            

    return H

In [29]:
connected = 'no' ### connected='yes' option used to take too long.

In [30]:
Graphs = subgraph_by_year(Graph,option='accumulate',connected=connected)

Input Graph has 144463 nodes and 980629 edges
Calculation Time (sec):       1 |Year: 1991 -- 1022 nodes -- 164 edges
Calculation Time (sec):       1 |Year: 1992 -- 2375 nodes -- 847 edges
Calculation Time (sec):       0 |Year: 1993 -- 4196 nodes -- 2372 edges
Calculation Time (sec):       0 |Year: 1994 -- 6668 nodes -- 5885 edges
Calculation Time (sec):       0 |Year: 1995 -- 9827 nodes -- 12021 edges
Calculation Time (sec):       0 |Year: 1996 -- 13580 nodes -- 21538 edges
Calculation Time (sec):       1 |Year: 1997 -- 17981 nodes -- 34609 edges
Calculation Time (sec):       1 |Year: 1998 -- 23242 nodes -- 52734 edges
Calculation Time (sec):       1 |Year: 1999 -- 29100 nodes -- 76909 edges
Calculation Time (sec):       2 |Year: 2000 -- 35601 nodes -- 105437 edges
Calculation Time (sec):       2 |Year: 2001 -- 42563 nodes -- 139328 edges
Calculation Time (sec):       3 |Year: 2002 -- 50239 nodes -- 180108 edges
Calculation Time (sec):       4 |Year: 2003 -- 59122 nodes -- 233678 edges
Calculation Time (sec):       4 |Year: 2004 -- 67668 nodes -- 285832 edges
Calculation Time (sec):       5 |Year: 2005 -- 76370 nodes -- 343133 edges
Calculation Time (sec):       5 |Year: 2006 -- 84944 nodes -- 405005 edges
Calculation Time (sec):       6 |Year: 2007 -- 93535 nodes -- 472244 edges
Calculation Time (sec):       7 |Year: 2008 -- 101781 nodes -- 541026 edges
Calculation Time (sec):       7 |Year: 2009 -- 109637 nodes -- 609758 edges
Calculation Time (sec):       8 |Year: 2010 -- 117122 nodes -- 678548 edges
Calculation Time (sec):      10 |Year: 2011 -- 123901 nodes -- 744711 edges
Calculation Time (sec):      10 |Year: 2012 -- 130006 nodes -- 805799 edges
Calculation Time (sec):      10 |Year: 2013 -- 135260 nodes -- 863499 edges
Calculation Time (sec):      16 |Year: 2014 -- 139518 nodes -- 913082 edges
Calculation Time (sec):      12 |Year: 2015 -- 142453 nodes -- 950556 edges
Calculation Time (sec):      10 |Year: 2016 -- 144463 nodes -- 980629 edges

In [31]:
### Add Degree and Num_In_Citations which may increase every year 

for j in range(n_year):
    Graph = Graphs[j]
    
    # add degree and Num_In_Citations later
    degree_dict = dict(Graph.degree())
    nx.set_node_attributes(Graph, degree_dict, 'Degree')
    num_out_citations_dict = nx.get_node_attributes(Graph, 'Num_Out_Citations' )

    num_in_citations_dict = {i: (int(degree_dict[i] - num_out_citations_dict[i])) for i in Graph.node}
    #num_in_citations_dict = dict([[i, (int(degree_dict[i] - num_out_citations_dict[i]))] for i in Graph.node])
    #num_in_citations_dict  = {}
    #for i in Graph.node:
    #    num_in_citations_dict[i] = int(degree_dict[i] - num_out_citations_dict[i])

    nx.set_node_attributes(Graph,num_in_citations_dict,'Num_In_Citations')

In [38]:
### Write to Gephi files
#for i in range(len(Graphs)):
for i in range(1):
    nx.write_gexf(Graphs[i], graph_dir + 'ML_sub_' + node_input + '_' + str(i+min_year) + ".gexf")

### Cluster graph

In [32]:
try:
    Graphs
except NameError:
    ### Read Gephi files
    Graphs = [[] for i in range(n_year)]  
    for i in range(n_year):
        Graphs[i]=nx.read_gexf(graph_dir + 'ML_sub_' + node_input + '_' + str(i+min_year) + ".gexf")
else:
    print('Graphs are already in memory.')

Graphs are already in memory.

In [33]:
def cluster_graph(H, resolution, weight = 'weight'):
    print("------------Louvain------------------")
    results_df = pd.DataFrame()
    results_df.index.name = 'Timepoint'
    for i in range(n_year):
        start = timeit.default_timer()      
        if i == 0:
            cluster_dict = {} 
        num_clusters_last = len(set(cluster_dict.values()))
        Graph = H[i]
        num_nodes = len(Graph.nodes)
        partition_dict = {}
        num_increment = 0
        for node in Graph.nodes:
            if node in cluster_dict:
                partition_dict[node] = cluster_dict[node]
            else: 
                partition_dict[node] = num_clusters_last + num_increment
                num_increment += 1
        cluster_dict = community.best_partition(Graph, resolution=resolution, partition = partition_dict, weight = weight)
        num_clusters = len(set(cluster_dict.values()))
        nx.set_node_attributes(Graph, cluster_dict,'Louvain cluster')

        stop = timeit.default_timer()
        cal_time = stop-start
        
        num_edges = len(Graph.edges)
        modularity = community.modularity(cluster_dict,Graph)
        
        results_df.loc[(i+min_year), 'Resolution'] = resolution
        results_df.loc[(i+min_year), 'Num_Clusters'] = num_clusters
        results_df.loc[(i+min_year), 'Modularity'] = modularity
        results_df.loc[(i+min_year), 'Num_Nodes'] = num_nodes
        results_df.loc[(i+min_year), 'Num_Edges'] = num_edges
        results_df.loc[(i+min_year), 'Calculation_Time'] = cal_time
        #display(results_df.loc[(i+min_year):(i+min_year+1),:])
        print('Year: {:4d}'.format(i+min_year), "| {:6d} nodes ".format(num_nodes),"| {: 5d} clusters".format(num_clusters),"| Modularity: {:.6f}".format(modularity), " | Calculation time: {: 6.2f} sec".format(cal_time))  
    
    #w = pd.ExcelWriter(graph_dir + 'Clustering_Results' + desc + '.xlsx')
    #sheetname = 'Clustering_Results'
    #results_df.to_excel(w, sheetname)
    #w.sheets[sheetname].set_column(0, 7, 10)
    #w.save()
    results_df.to_csv(graph_dir + 'Clustering_Results_ver10' + desc + '.csv')
    display(results_df)
    
    return H

In [39]:
resolution = 2.2
#weight = 'weight'
#weight = 'Jacquard'
weight = 'Year_Diff'

desc = '_{0:s}_connected{1:s}_res{2:.2f}_wtBy{3:s}_initpart'.format(node_input, connected, resolution, weight) 
print(desc)

Clustered=cluster_graph(Graphs, resolution=resolution, weight=weight)

_weighted_graph.gexf_connectedno_res2.20_wtByYear_Diff_initpart
------------Louvain------------------
Year: 1991 |   1022 nodes  |   867 clusters | Modularity: 0.959697  | Calculation time:   0.23 sec
Year: 1992 |   2375 nodes  |  1646 clusters | Modularity: 0.966164  | Calculation time:   0.33 sec
Year: 1993 |   4196 nodes  |  2314 clusters | Modularity: 0.937297  | Calculation time:   0.42 sec
Year: 1994 |   6668 nodes  |  2779 clusters | Modularity: 0.870558  | Calculation time:   0.64 sec
Year: 1995 |   9827 nodes  |  3138 clusters | Modularity: 0.829839  | Calculation time:   0.83 sec
Year: 1996 |  13580 nodes  |  3459 clusters | Modularity: 0.810577  | Calculation time:   1.74 sec
Year: 1997 |  17981 nodes  |  3780 clusters | Modularity: 0.794077  | Calculation time:   2.13 sec
Year: 1998 |  23242 nodes  |  4035 clusters | Modularity: 0.781025  | Calculation time:   2.48 sec
Year: 1999 |  29100 nodes  |  4578 clusters | Modularity: 0.763966  | Calculation time:   3.57 sec
Year: 2000 |  35601 nodes  |  4960 clusters | Modularity: 0.756955  | Calculation time:   4.26 sec
Year: 2001 |  42563 nodes  |  5211 clusters | Modularity: 0.751530  | Calculation time:   6.97 sec
Year: 2002 |  50239 nodes  |  5480 clusters | Modularity: 0.745084  | Calculation time:  11.83 sec
Year: 2003 |  59122 nodes  |  5610 clusters | Modularity: 0.736691  | Calculation time:  13.72 sec
Year: 2004 |  67668 nodes  |  5763 clusters | Modularity: 0.730424  | Calculation time:  13.17 sec
Year: 2005 |  76370 nodes  |  5800 clusters | Modularity: 0.726601  | Calculation time:  28.60 sec
Year: 2006 |  84944 nodes  |  5707 clusters | Modularity: 0.722727  | Calculation time:  22.82 sec
Year: 2007 |  93535 nodes  |  5573 clusters | Modularity: 0.717751  | Calculation time:  23.39 sec
Year: 2008 | 101781 nodes  |  5302 clusters | Modularity: 0.713949  | Calculation time:  26.44 sec
Year: 2009 | 109637 nodes  |  5055 clusters | Modularity: 0.708825  | Calculation time:  27.67 sec
Year: 2010 | 117122 nodes  |  4759 clusters | Modularity: 0.704066  | Calculation time:  36.83 sec
Year: 2011 | 123901 nodes  |  4451 clusters | Modularity: 0.699823  | Calculation time:  48.25 sec
Year: 2012 | 130006 nodes  |  4084 clusters | Modularity: 0.697866  | Calculation time:  53.25 sec
Year: 2013 | 135260 nodes  |  3638 clusters | Modularity: 0.694584  | Calculation time:  62.53 sec
Year: 2014 | 139518 nodes  |  3005 clusters | Modularity: 0.691555  | Calculation time:  42.97 sec
Year: 2015 | 142453 nodes  |  2356 clusters | Modularity: 0.689268  | Calculation time:  42.71 sec
Year: 2016 | 144463 nodes  |  1520 clusters | Modularity: 0.687021  | Calculation time:  38.09 sec

,Resolution,Num_Clusters,Modularity,Num_Nodes,Num_Edges,Calculation_Time
Timepoint,,,,,,
1991,2.2,867.0,0.959697,1022.0,164.0,0.227995
1992,2.2,1646.0,0.966164,2375.0,847.0,0.326965
1993,2.2,2314.0,0.937297,4196.0,2372.0,0.423089
1994,2.2,2779.0,0.870558,6668.0,5885.0,0.635728
...,...,...,...,...,...,...
2013,2.2,3638.0,0.694584,135260.0,863499.0,62.532492
2014,2.2,3005.0,0.691555,139518.0,913082.0,42.973188
2015,2.2,2356.0,0.689268,142453.0,950556.0,42.705594
2016,2.2,1520.0,0.687021,144463.0,980629.0,38.090528

### Write to Gephi files
for i in range(len(Graphs)):
    nx.write_gexf(Graphs[i], graph_dir + 'ML_clustered_' + node_input + '_' + str(i+min_year) + ".gexf")

### Calculate z and P

In [40]:
#Copy_Clus2 = Clustered.copy()
Copy_Clus2 = [g.copy() for g in Clustered.copy()]

In [41]:
try:
    Graphs
except NameError:
    ### Read Gephi files
    Graphs = [[] for i in range(n_year)]  
    for i in range(n_year):
        Graphs[i]=nx.read_gexf(graph_dir + 'ML_clustered_' + node_input + '_' + str(i+min_year) + ".gexf")
else:
    print('Graphs are already in memory.')

Graphs are already in memory.

In [42]:
### Calculate P, z, and cluster size by Pandas DataFrame manipulation



#for Graph in Graphs[0:1]:
def calculate_z_p(Graph,clus_attr = 'Louvain cluster'):
    start = timer()
    
    ### Calculate P value by Pandas 
    edges = [[u,v] for (u,v) in Graph.edges()]
    n0_df = pd.DataFrame.from_records(edges, columns=['Node', 'Node Connected'])
    n1_df = pd.DataFrame.from_records(edges, columns=['Node Connected', 'Node'])
    n2_df = pd.concat([n0_df, n1_df], ignore_index = True)
    n2_df.set_index('Node Connected', inplace=True)
    #display(n2_df)
    num_edges = n2_df.shape[0]
                                   
    c_df = pd.DataFrame(pd.Series(nx.get_node_attributes(Graph,clus_attr), name='Cluster of Node Connected'))
    c_df.index.name = 'Node Connected'
    #display(c_df)
    num_nodes = c_df.shape[0]
    
    
    n3_df = pd.merge(n2_df, c_df, left_index=True, right_index=True)
    #display(n3_df)
    n3_df.loc[:,'Degree per Cluster'] = 1
    n4_df = n3_df.groupby(['Node','Cluster of Node Connected'])[['Degree per Cluster']].sum()
    n4_df.reset_index(inplace=True)
    n4_df.set_index('Node', inplace=True)
    #display(n4_df)
    
    d_df = pd.DataFrame(pd.Series(nx.get_node_attributes(Graph,'Degree'), name='Degree'))
    d_df.index.name = 'Node'
    #display(d_df)
    
    n5_df = pd.merge(n4_df, d_df, left_index=True, right_index=True, how='right')
    n5_df['Degree per Cluster'].fillna(0, inplace=True)
    n5_df.loc[:,'Degree positive'] = n5_df['Degree']
    n5_df.loc[n5_df['Degree'] == 0,'Degree_positive'] = 1 ### Avoid zero that will be enominator
    n5_df.loc[:,'Sq Ratio of Degree per Cluster'] = n5_df[['Degree per Cluster', 'Degree positive']].apply(lambda x: (x[0] / x[1]) ** 2, axis=1)
    #display(n5_df)
    
    n6_df = n5_df.reset_index().groupby('Node')[['Sq Ratio of Degree per Cluster']].sum()
    n6_df.loc[:,'P'] = 1 - n6_df['Sq Ratio of Degree per Cluster']
    #display(n6_df)
    
    P_dict_np = n6_df['P'].to_dict()
    #display(P_dict_np.items())
    P_dict = dict([k,float(v)] for (k,v) in P_dict_np.items())
    #display(P_dict)
    
    nx.set_node_attributes(Graph,P_dict,'P')
    
    ### Calculate z
    
    #display(n3_df)
    z4_df = n3_df.reset_index()
    z4_df.set_index('Node', inplace=True)
    #display(z4_df)
    
    c2_df = c_df.rename(columns={'Cluster of Node Connected':'Cluster of Node'})
    c2_df.index.name = 'Node'
    #display(c2_df)
    z5_df = pd.merge(z4_df, c2_df, left_index=True, right_index=True)
    z5_df.loc[:,'Within Cluster Flag'] = z5_df[['Cluster of Node', 'Cluster of Node Connected']].apply(lambda x: x[0] == x[1], axis=1)
    #display(z5_df)
    #display(z5_df.groupby(['Within Cluster Flag']).count())
    z6_df = z5_df.loc[z5_df['Within Cluster Flag'] == True,:]
    z6_df.reset_index(inplace=True)
    #display(z6_df)
    z7_df = z6_df.groupby(['Node','Cluster of Node'])[['Degree per Cluster']].sum()
    #display(z7_df)
    #z7_2_df = z7_df.copy()
    #z7_2_df.loc[:,'Degree per Cluster Positive'] = z7_2_df['Degree per Cluster']
    #z7_2_df = z7_2_df.groupby(['Cluster of Node'])[['Degree per Cluster Positive']].transform(lambda x: x.std())
    #z7_2_df.loc[z7_2_df['Degree per Cluster Positive'] == 0,'Degree per Cluster Positive'] = 1 ### Avoid zero that will be enominator 
    #z7_df.loc[:,'Degree per Cluster Positive'] = z7_2_df['Degree per Cluster Positive']
    #z8_df = z7_df.groupby(['Cluster of Node'])[['Degree per Cluster', 'Degree per Cluster Positive']].transform(lambda x: ((x[0] - x[0].mean()) / x[1]), axis=1)
    z8_df = z7_df.groupby(['Cluster of Node'])[['Degree per Cluster']].transform(lambda x: ((x - x.mean()) / x.std()))
    z8_df.reset_index(inplace=True)
    z8_df.set_index('Node', inplace=True)
    #display(z8_df)
    z_dict_np = z8_df['Degree per Cluster'].to_dict()
    z_dict = dict([k,float(v)] for (k,v) in z_dict_np.items())
    #display(z_dict)
    nx.set_node_attributes(Graph,z_dict,'z')
    
    ##### Calculate correct P value (20180412)
    P8_df = z7_df.reset_index()
    P8_df.set_index('Node', inplace=True)
    display(P8_df)
    P9_df = pd.merge(P8_df, d_df, left_index=True, right_index=True, how='right')
    display(P9_df)
    #P9
    
    #####
    
    ### Calculate cluster size
    #display(c_df)
    #c2_df = c_df.reset_index()
    c2_df = c_df.copy()
    c2_df.loc[:,'Cluster Size'] = 1
    #display(c2_df)
    s_df = c2_df.groupby(['Cluster of Node Connected'])[['Cluster Size']].transform(sum)
    #display(s_df)
    csize_dict_np = s_df['Cluster Size'].to_dict()
    csize_dict = dict([k,int(v)] for (k,v) in csize_dict_np.items())
    #display(csize_dict)
    nx.set_node_attributes(Graph,csize_dict,'Cluster_Size')
    
    end = timer()
    print("#{0: 7d} nodes".format(num_nodes), " | {0: 7d} edges".format(num_edges), ' | Time for calculation of z and P: {0:.0f} sec'.format(end - start))

In [43]:
def get_oldest_paper(Graph,clus_attr):
    clusters=nx.get_node_attributes(Graph,clus_attr)
    n_clus=len(set(clusters.values()))
    
    seed_df=pd.DataFrame()
    for i in range(n_clus):
        c= {k for (k,v) in clusters.items() if  v==i}
        H=nx.subgraph(Graph,c)
        old=min(nx.get_node_attributes(H,'Year').values())
        paper_id=[k for (k,v) in nx.get_node_attributes(H,'Year').items() if v==old]       
        
        J=nx.subgraph(H,paper_id)
        
        df =  pd.DataFrame([i[1] for i in J.nodes(data=True)], index=[i[0] for i in J.nodes(data=True)])
        df.loc[:,'cluster'] = i
        df.index.name = 'id'
        df.reset_index(inplace=True)
        df.index.name = 'index'
        df = df.loc[:,['Year','cluster','cluster_size','id','authors','journalName','title','paperAbstract','Num_Out_Citations','degree','Num_In_Citations', 'z','P']]
        #display(df)

        seed_df=seed_df.append(other=df)
    return seed_df

def write_oldest_papers(seed_df, year):
    
    seed_df.sort_values(by = ['Year', 'cluster'], ascending = False, inplace = True)
    seed_df.reset_index(drop=True, inplace=True)
    seed_df.index.name = 'index'
    #seed_df = seed_df.drop(['id'],axis=1)

    #seed_df.to_csv(graph_dir + 'oldest_paper_' + str(i+min_year) '.csv') 
    w = pd.ExcelWriter(graph_dir + 'Oldest_Papers_' + str(year) + '.xlsx')
    sheetname = 'Oldest_Papers'
    seed_df.to_excel(w, sheetname)
    w.sheets[sheetname].set_column(7, 8, 50)
    w.sheets[sheetname].autofilter(0,0,seed_df.shape[0] + 1, seed_df.shape[1] + 1)
    w.save()

def write_all_papers(Graph, year):
    ML_df = pd.DataFrame([i[1] for i in Graph.nodes(data=True)], index=[i[0] for i in Graph.nodes(data=True)])
    ML_df.index.name = 'id'
    ML_df.reset_index(inplace=True)
    ML_df.index.name = 'index'
    ML_df.to_csv(graph_dir + 'All_Papers_' + str(year) + '.csv')

In [44]:
start = timer()
df_list = []
for year in range(min_year, max_year+1):
    print('[Processing year:' + str(year) + ']')
    Graph = Copy_Clus2[year-min_year]
    calculate_z_p(Graph,'Louvain cluster')
    nodes = Graph.nodes(data=True)
    df = pd.DataFrame([i[1] for i in nodes], index=[i[0] for i in nodes])
    df.index.name = 'id'
    df.reset_index(inplace=True)
    df.loc[:, 'Timepoint'] = year
    #print(df.columns)
    df_list.append(df[['id', 'Timepoint', 'Louvain cluster', 'Cluster_Size', 'z', 'P', 'Degree', 'Num_In_Citations']])

end = timer()
print('\n[Finished to calculate z and P for all years] \n Total calculation time: {0:.0f} sec'.format(end - start))

[Processing year:1991]

C:\Users\U\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  del sys.path[0]
C:\Users\U\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: RuntimeWarning: invalid value encountered in double_scalars

                                          Cluster of Node  Degree per Cluster
Node
015242aa19ec5a82a4bd9373e0924b7256c5c553              452                   2
025bd24869ec8c8c66f0a00715785f9320fc1c30              447                   1
02cc8ee37b11e7bd96a3bc1095a8bee6b154bcf4               56                   2
031e3c7055c9ad2f3d3ba3aa1c472fc584b052fc               56                   1
...                                                   ...                 ...
f88804e245ae4fcc8379afab6d6fe7c405208fd5              104                   1
fa9d10b8c6b2645ab2c49cb6c7370bed23061272               46                   1
fc801b6119fe0fe3fa3f7e6f79d439949224f7d0              155                   1
fd2a430a6ca5a0678cef56b44236c359f36ba6ad               25                   1

[238 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
301b7c28190a3d103a04ef76fe5f5bf497f8af76,NaN,NaN,0
3e459ab6206e841baf22ef1c5277fdd01dd16455,1.0,1.0,1
f700af43e57fe772dcb2af5feaa51a0d8c4168c6,2.0,1.0,1
740a3acab38f1d38d8e28763733fae730f1eac3d,3.0,1.0,1
...,...,...,...
81d9ccbf2a35e18fe969970f5289ee50fa5060b6,NaN,NaN,0
312c3739d9c765bfa7f3eb4550664fe2fe728388,NaN,NaN,0
e141d68065ce638f9fc4f006eab2f66711e89768,NaN,NaN,0
463ca831faeaf5374c7f9d782137549e2f1a10ab,NaN,NaN,0

#   1022 nodes  |     328 edges  | Time for calculation of z and P: 0 sec
[Processing year:1992]

                                          Cluster of Node  Degree per Cluster
Node
000dcf65e6b7a1c727bc01678dc902f0ca14e09a              363                   1
006b29ccf4d7e8cc347393e93a36a686dd1968a2              955                   1
00d833562964c11ced35b950fb789df764427924               26                   4
00e11b47e1dd012f4efdad32bf358e606aff0fa2             1192                   1
...                                                   ...                 ...
fe4f68123c687e1dc79a2bd6ca161d4bc1dd02be               44                   2
ff1924f04ceddb70a563aa11428b4897b0017708               86                   3
ff870e13f0308c40bbf06f5c6691cb8220ff3aae              969                   2
ffaedd80a46b723d0a44bb9aee70e8722a24be44              267                   4

[980 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
24fa715e09917dfafb77aca5aaa65bc788ac10f8,NaN,NaN,0
70992415c4438b2abccfeb812ccc6e6463129017,NaN,NaN,0
ce479373ce8816733092e0b8efbc9f323fb6219c,NaN,NaN,0
445e5f03b05a6febf9630bbb0e3f0c72e02ed403,NaN,NaN,0
...,...,...,...
0c0eab87d4855c42ae6395bf2e27eefe55003b4a,526.0,1.0,1
81d9ccbf2a35e18fe969970f5289ee50fa5060b6,74.0,2.0,2
312c3739d9c765bfa7f3eb4550664fe2fe728388,NaN,NaN,0
e141d68065ce638f9fc4f006eab2f66711e89768,20.0,2.0,2

#   2375 nodes  |    1694 edges  | Time for calculation of z and P: 1 sec
[Processing year:1993]

                                          Cluster of Node  Degree per Cluster
Node
000dcf65e6b7a1c727bc01678dc902f0ca14e09a              113                   3
004f0d19818a65bf2a375c2cb6743792c609d4d3                8                   1
005ce10b239c5c88ba21f5279a3f7c7059b71fa9              427                   1
006b29ccf4d7e8cc347393e93a36a686dd1968a2             1300                   1
...                                                   ...                 ...
ff870e13f0308c40bbf06f5c6691cb8220ff3aae               28                   4
ff92b00d4406d6cbf0468028a2356cc10b3976cc               50                   1
ffaedd80a46b723d0a44bb9aee70e8722a24be44              312                   4
ffd1d64a23617e0a38f7f5cf5d6ddfca53f2a0e5              586                   1

[2252 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
8488ac7843c819db6f2ab9f2b77b8e35d86a53ec,0.0,4.0,4
884ca770e3096e20f8c7789aa84c75625efb3818,NaN,NaN,0
24fa715e09917dfafb77aca5aaa65bc788ac10f8,2.0,1.0,1
70992415c4438b2abccfeb812ccc6e6463129017,NaN,NaN,0
...,...,...,...
81d9ccbf2a35e18fe969970f5289ee50fa5060b6,4.0,2.0,2
312c3739d9c765bfa7f3eb4550664fe2fe728388,NaN,NaN,0
e141d68065ce638f9fc4f006eab2f66711e89768,37.0,3.0,3
b3cd67465e3879bb26350002440666768ebddf4e,NaN,NaN,0

#   4196 nodes  |    4744 edges  | Time for calculation of z and P: 1 sec
[Processing year:1994]

                                          Cluster of Node  Degree per Cluster
Node
000dcf65e6b7a1c727bc01678dc902f0ca14e09a               35                   5
0019a07109e8966ca3f28bfe6b5e35aa2de4a40c              382                   1
004c1d7d01fca84a0d3102eed92a9f035836e35e                3                   1
004f0d19818a65bf2a375c2cb6743792c609d4d3                9                   2
...                                                   ...                 ...
ffaedd80a46b723d0a44bb9aee70e8722a24be44              105                   4
ffd1d64a23617e0a38f7f5cf5d6ddfca53f2a0e5              401                   1
ffec7bc7dff075115eceb34e25ca1b1db8bde67d                9                   1
fff73b4a46ac8d071155ffe30d708cf5cf3f2b53              806                   2

[4306 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
8488ac7843c819db6f2ab9f2b77b8e35d86a53ec,0.0,8.0,8
884ca770e3096e20f8c7789aa84c75625efb3818,1.0,1.0,1
49b543a55ed2e9823c0594575b79a3e935d1bd6a,0.0,4.0,4
0ff04ab3cd6d1989f75dd63572de78b4d889b249,NaN,NaN,0
...,...,...,...
006b29ccf4d7e8cc347393e93a36a686dd1968a2,3.0,1.0,1
9641e03febda982388b8e70194417a82d1321da0,0.0,1.0,1
595640253ffdfd12e04ac57bd78753f936a7cfad,5.0,6.0,6
e141d68065ce638f9fc4f006eab2f66711e89768,5.0,5.0,5

#   6668 nodes  |   11770 edges  | Time for calculation of z and P: 1 sec
[Processing year:1995]

                                          Cluster of Node  Degree per Cluster
Node
0003b4b4c35f0384596b6f129f7dda8449cdc79f              832                   3
000ce7530d24e729d679d6bd19e0b8de5f225e15                6                  10
000dcf65e6b7a1c727bc01678dc902f0ca14e09a               37                   8
0012433aed6a9636aa836062d77e91445e8b43db               11                   2
...                                                   ...                 ...
ffd1d64a23617e0a38f7f5cf5d6ddfca53f2a0e5              420                   1
ffec7bc7dff075115eceb34e25ca1b1db8bde67d              979                   1
fff73b4a46ac8d071155ffe30d708cf5cf3f2b53              880                   2
fffa1579a41bde6fc8926a1d514dc23f62a33cc7               44                  15

[7106 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
8488ac7843c819db6f2ab9f2b77b8e35d86a53ec,0.0,9.0,9
0138bdb8fa2e6dbd5f6f8ca3d8f83eafb09b0b9e,1.0,1.0,1
884ca770e3096e20f8c7789aa84c75625efb3818,2.0,1.0,2
49b543a55ed2e9823c0594575b79a3e935d1bd6a,0.0,12.0,12
...,...,...,...
e26212b3686bcde92e4e28844a86b6552e1f2624,44.0,2.0,2
595640253ffdfd12e04ac57bd78753f936a7cfad,6.0,12.0,12
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,714.0,1.0,1
e141d68065ce638f9fc4f006eab2f66711e89768,6.0,9.0,9

#   9827 nodes  |   24042 edges  | Time for calculation of z and P: 2 sec
[Processing year:1996]

                                          Cluster of Node  Degree per Cluster
Node
0003b4b4c35f0384596b6f129f7dda8449cdc79f                8                   6
000cc630a11ea228ecfef52528e588c6d27fbd3c                1                   4
000ce7530d24e729d679d6bd19e0b8de5f225e15                7                  10
000dcf65e6b7a1c727bc01678dc902f0ca14e09a               39                  11
...                                                   ...                 ...
ffd1d64a23617e0a38f7f5cf5d6ddfca53f2a0e5                4                   2
ffec7bc7dff075115eceb34e25ca1b1db8bde67d               16                   1
fff73b4a46ac8d071155ffe30d708cf5cf3f2b53               16                   3
fffa1579a41bde6fc8926a1d514dc23f62a33cc7               16                  20

[10546 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
8488ac7843c819db6f2ab9f2b77b8e35d86a53ec,0.0,11.0,11
0138bdb8fa2e6dbd5f6f8ca3d8f83eafb09b0b9e,1.0,3.0,3
884ca770e3096e20f8c7789aa84c75625efb3818,2.0,1.0,2
49b543a55ed2e9823c0594575b79a3e935d1bd6a,0.0,16.0,16
...,...,...,...
595640253ffdfd12e04ac57bd78753f936a7cfad,7.0,20.0,20
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,737.0,1.0,1
e141d68065ce638f9fc4f006eab2f66711e89768,7.0,13.0,13
315fe842c5724123967b301db96e13083cd1e6f2,2.0,1.0,1

#  13580 nodes  |   43076 edges  | Time for calculation of z and P: 2 sec
[Processing year:1997]

                                          Cluster of Node  Degree per Cluster
Node
0003b4b4c35f0384596b6f129f7dda8449cdc79f               12                   6
000cc630a11ea228ecfef52528e588c6d27fbd3c                1                   4
000ce7530d24e729d679d6bd19e0b8de5f225e15               11                  12
000dcf65e6b7a1c727bc01678dc902f0ca14e09a               25                  13
...                                                   ...                 ...
ffd1d64a23617e0a38f7f5cf5d6ddfca53f2a0e5                2                   8
ffec7bc7dff075115eceb34e25ca1b1db8bde67d               22                   2
fff73b4a46ac8d071155ffe30d708cf5cf3f2b53               22                   3
fffa1579a41bde6fc8926a1d514dc23f62a33cc7               22                  24

[14637 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
8488ac7843c819db6f2ab9f2b77b8e35d86a53ec,0.0,11.0,11
0138bdb8fa2e6dbd5f6f8ca3d8f83eafb09b0b9e,1.0,3.0,3
884ca770e3096e20f8c7789aa84c75625efb3818,2.0,1.0,2
064d2db9d4345d0df3d73c6c240aa33c33565a58,NaN,NaN,0
...,...,...,...
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,765.0,1.0,1
5f49f9a07a5e158feb13b5d525e94ca119e2e593,11.0,6.0,11
e141d68065ce638f9fc4f006eab2f66711e89768,11.0,15.0,15
315fe842c5724123967b301db96e13083cd1e6f2,8.0,1.0,1

#  17981 nodes  |   69218 edges  | Time for calculation of z and P: 3 sec
[Processing year:1998]

                                          Cluster of Node  Degree per Cluster
Node
0002183c2bd73da35caff547ccdcd5d69a7fd344                5                   1
0003b4b4c35f0384596b6f129f7dda8449cdc79f                7                   6
0009a842d046763c375e30e25f85e89429aeca5b                9                   1
000cc630a11ea228ecfef52528e588c6d27fbd3c                0                   6
...                                                   ...                 ...
ffe9a610102d588f6efc025bda84a68aeec1376e                5                   8
ffec7bc7dff075115eceb34e25ca1b1db8bde67d               13                   2
fff73b4a46ac8d071155ffe30d708cf5cf3f2b53               13                   3
fffa1579a41bde6fc8926a1d514dc23f62a33cc7               13                  26

[19665 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
2f1476ad95398d72ff0024c560762eafc412bb18,0.0,2.0,2
a48f7d052c18f75740155f82e17201633b8bdd40,1.0,7.0,7
565d3489d02ba345def6e9811628423221215327,NaN,NaN,0
f6b5eb19a80d606bdface343643e9aa9bd8264cc,3.0,1.0,1
...,...,...,...
595640253ffdfd12e04ac57bd78753f936a7cfad,5.0,37.0,37
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,2346.0,1.0,1
315fe842c5724123967b301db96e13083cd1e6f2,9.0,1.0,1
664b5320a508aaad9dac45069740445403650941,0.0,1.0,1

#  23242 nodes  |  105468 edges  | Time for calculation of z and P: 9 sec
[Processing year:1999]

                                          Cluster of Node  Degree per Cluster
Node
0000ff68310e8a43c26371b4f0ff05ddaed93577                0                  11
0001922125f0c57130dbc969cea49034892d4055               10                   1
0002183c2bd73da35caff547ccdcd5d69a7fd344                4                   1
0003b4b4c35f0384596b6f129f7dda8449cdc79f                7                   6
...                                                   ...                 ...
ffe9da04b852f2533f0a3b46a6a07df4f45ccece               31                  16
ffec7bc7dff075115eceb34e25ca1b1db8bde67d               14                   2
fff73b4a46ac8d071155ffe30d708cf5cf3f2b53               14                   3
fffa1579a41bde6fc8926a1d514dc23f62a33cc7               14                  29

[25318 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
2f1476ad95398d72ff0024c560762eafc412bb18,0.0,2.0,2
a48f7d052c18f75740155f82e17201633b8bdd40,1.0,8.0,8
565d3489d02ba345def6e9811628423221215327,NaN,NaN,0
f6b5eb19a80d606bdface343643e9aa9bd8264cc,3.0,1.0,1
...,...,...,...
595640253ffdfd12e04ac57bd78753f936a7cfad,4.0,44.0,44
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,1.0,1.0,1
315fe842c5724123967b301db96e13083cd1e6f2,9.0,2.0,2
664b5320a508aaad9dac45069740445403650941,0.0,2.0,2

#  29100 nodes  |  153818 edges  | Time for calculation of z and P: 7 sec
[Processing year:2000]

                                          Cluster of Node  Degree per Cluster
Node
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                1                   4
0000ff68310e8a43c26371b4f0ff05ddaed93577                0                  16
0001922125f0c57130dbc969cea49034892d4055               16                   1
0002183c2bd73da35caff547ccdcd5d69a7fd344                5                   1
...                                                   ...                 ...
fff73b4a46ac8d071155ffe30d708cf5cf3f2b53               32                   3
fffa1579a41bde6fc8926a1d514dc23f62a33cc7               32                  31
fffae221f92229eeb398ba033040a8f283314c8b                5                   1
fffeb86c30c05131bdc71785c57762a68841114e               32                   3

[31655 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
2f1476ad95398d72ff0024c560762eafc412bb18,0.0,3.0,3
a48f7d052c18f75740155f82e17201633b8bdd40,1.0,8.0,8
7f9ad4275dcafc668f098ed28db10e94c97c8d00,2.0,2.0,6
565d3489d02ba345def6e9811628423221215327,3.0,1.0,1
...,...,...,...
595640253ffdfd12e04ac57bd78753f936a7cfad,5.0,53.0,53
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,1.0,1.0,1
315fe842c5724123967b301db96e13083cd1e6f2,2.0,2.0,2
664b5320a508aaad9dac45069740445403650941,0.0,2.0,2

#  35601 nodes  |  210874 edges  | Time for calculation of z and P: 8 sec
[Processing year:2001]

                                          Cluster of Node  Degree per Cluster
Node
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                1                   4
0000d7919aabb85fc11a83719d99f4b5c6f21bac                0                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                0                  20
0001922125f0c57130dbc969cea49034892d4055               18                   2
...                                                   ...                 ...
fff73b4a46ac8d071155ffe30d708cf5cf3f2b53               16                   3
fffa1579a41bde6fc8926a1d514dc23f62a33cc7               16                  32
fffae221f92229eeb398ba033040a8f283314c8b                5                   1
fffeb86c30c05131bdc71785c57762a68841114e               16                   3

[38512 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
2f1476ad95398d72ff0024c560762eafc412bb18,0.0,3.0,5
a48f7d052c18f75740155f82e17201633b8bdd40,1.0,8.0,8
095f79b5c92d4b6961fbe166f2ce15d78789adf3,2.0,8.0,9
7f9ad4275dcafc668f098ed28db10e94c97c8d00,1.0,9.0,11
...,...,...,...
595640253ffdfd12e04ac57bd78753f936a7cfad,5.0,60.0,60
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,1.0,1.0,1
315fe842c5724123967b301db96e13083cd1e6f2,13.0,3.0,3
664b5320a508aaad9dac45069740445403650941,0.0,2.0,2

#  42563 nodes  |  278656 edges  | Time for calculation of z and P: 11 sec
[Processing year:2002]

                                          Cluster of Node  Degree per Cluster
Node
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                1                   4
0000d7919aabb85fc11a83719d99f4b5c6f21bac                0                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                0                  25
0001922125f0c57130dbc969cea49034892d4055               19                   3
...                                                   ...                 ...
fffae221f92229eeb398ba033040a8f283314c8b                5                   1
fffaf41f7996d36398386dee078f996a64ed282e                0                   7
fffeb86c30c05131bdc71785c57762a68841114e               17                   4
ffff61c00e3be793980e43a562bf70d43e321493               12                   4

[46040 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
2f1476ad95398d72ff0024c560762eafc412bb18,0.0,3.0,5
a48f7d052c18f75740155f82e17201633b8bdd40,1.0,8.0,8
095f79b5c92d4b6961fbe166f2ce15d78789adf3,2.0,8.0,9
7f9ad4275dcafc668f098ed28db10e94c97c8d00,1.0,10.0,12
...,...,...,...
595640253ffdfd12e04ac57bd78753f936a7cfad,5.0,64.0,67
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,1.0,1.0,1
315fe842c5724123967b301db96e13083cd1e6f2,13.0,3.0,3
664b5320a508aaad9dac45069740445403650941,0.0,2.0,2

#  50239 nodes  |  360216 edges  | Time for calculation of z and P: 18 sec
[Processing year:2003]

                                          Cluster of Node  Degree per Cluster
Node
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                2                   6
0000d7919aabb85fc11a83719d99f4b5c6f21bac                0                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                0                  31
0001922125f0c57130dbc969cea49034892d4055               19                   4
...                                                   ...                 ...
fffae221f92229eeb398ba033040a8f283314c8b                6                   2
fffaf41f7996d36398386dee078f996a64ed282e                0                   6
fffeb86c30c05131bdc71785c57762a68841114e               17                   4
ffff61c00e3be793980e43a562bf70d43e321493                1                   5

[54884 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
2f1476ad95398d72ff0024c560762eafc412bb18,0.0,4.0,8
6ab4a46c3760044a027fe3038ce26df6f621426a,1.0,32.0,33
a48f7d052c18f75740155f82e17201633b8bdd40,2.0,9.0,9
095f79b5c92d4b6961fbe166f2ce15d78789adf3,3.0,11.0,12
...,...,...,...
595640253ffdfd12e04ac57bd78753f936a7cfad,6.0,70.0,74
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,2.0,2.0,2
315fe842c5724123967b301db96e13083cd1e6f2,12.0,3.0,3
664b5320a508aaad9dac45069740445403650941,0.0,2.0,2

#  59122 nodes  |  467356 edges  | Time for calculation of z and P: 17 sec
[Processing year:2004]

                                          Cluster of Node  Degree per Cluster
Node
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                3                   6
0000d7919aabb85fc11a83719d99f4b5c6f21bac                1                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                1                  38
0001922125f0c57130dbc969cea49034892d4055               23                   5
...                                                   ...                 ...
fffae221f92229eeb398ba033040a8f283314c8b                0                   5
fffaf41f7996d36398386dee078f996a64ed282e               16                   9
fffeb86c30c05131bdc71785c57762a68841114e               14                   4
ffff61c00e3be793980e43a562bf70d43e321493                2                   5

[63396 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
46faf93ff3708b93f3b645301def362ea7c5ab84,0.0,7.0,8
2f1476ad95398d72ff0024c560762eafc412bb18,1.0,4.0,8
6ab4a46c3760044a027fe3038ce26df6f621426a,2.0,38.0,39
a48f7d052c18f75740155f82e17201633b8bdd40,3.0,9.0,9
...,...,...,...
595640253ffdfd12e04ac57bd78753f936a7cfad,0.0,77.0,82
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,3.0,2.0,2
315fe842c5724123967b301db96e13083cd1e6f2,16.0,3.0,3
664b5320a508aaad9dac45069740445403650941,1.0,2.0,2

#  67668 nodes  |  571664 edges  | Time for calculation of z and P: 20 sec
[Processing year:2005]

                                          Cluster of Node  Degree per Cluster
Node
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                3                   7
0000d7919aabb85fc11a83719d99f4b5c6f21bac                1                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                1                  39
0001922125f0c57130dbc969cea49034892d4055               22                   5
...                                                   ...                 ...
fffae221f92229eeb398ba033040a8f283314c8b                0                   5
fffaf41f7996d36398386dee078f996a64ed282e               15                   9
fffeb86c30c05131bdc71785c57762a68841114e               13                   4
ffff61c00e3be793980e43a562bf70d43e321493                2                   6

[72132 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
46faf93ff3708b93f3b645301def362ea7c5ab84,0.0,10.0,11
2f1476ad95398d72ff0024c560762eafc412bb18,1.0,5.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,2.0,41.0,42
a48f7d052c18f75740155f82e17201633b8bdd40,3.0,9.0,9
...,...,...,...
595640253ffdfd12e04ac57bd78753f936a7cfad,0.0,78.0,86
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,3.0,2.0,2
315fe842c5724123967b301db96e13083cd1e6f2,15.0,3.0,3
664b5320a508aaad9dac45069740445403650941,1.0,2.0,2

#  76370 nodes  |  686266 edges  | Time for calculation of z and P: 28 sec
[Processing year:2006]

                                          Cluster of Node  Degree per Cluster
Node
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                   7
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                2                  41
0001922125f0c57130dbc969cea49034892d4055               23                   6
...                                                   ...                 ...
fffaf41f7996d36398386dee078f996a64ed282e                8                  10
fffbf57fc5682b3dee7d554ee0700b61142aa1c4              806                   1
fffeb86c30c05131bdc71785c57762a68841114e               14                   4
ffff61c00e3be793980e43a562bf70d43e321493                3                   6

[80858 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,2.0,2
46faf93ff3708b93f3b645301def362ea7c5ab84,1.0,10.0,11
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,41.0,42
...,...,...,...
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,4.0,2.0,2
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,1.0,1
315fe842c5724123967b301db96e13083cd1e6f2,8.0,3.0,3
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

#  84944 nodes  |  810010 edges  | Time for calculation of z and P: 32 sec
[Processing year:2007]

                                          Cluster of Node  Degree per Cluster
Node
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                   7
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                2                  46
00018f34a982eac1cb43025fae6fef6ce72d07aa               11                   9
...                                                   ...                 ...
fffaf41f7996d36398386dee078f996a64ed282e               13                  10
fffbf57fc5682b3dee7d554ee0700b61142aa1c4              455                   1
fffeb86c30c05131bdc71785c57762a68841114e               10                   4
ffff61c00e3be793980e43a562bf70d43e321493                3                   6

[89583 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,3.0,3
de82eb60a065fef1c326f43adffece0ded1e16ff,NaN,NaN,0
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,41.0,42
...,...,...,...
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,4.0,2.0,2
b67837e9d10eaec453975cfd651d976cca52913d,4.0,30.0,31
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,4.0,4
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

#  93535 nodes  |  944488 edges  | Time for calculation of z and P: 31 sec
[Processing year:2008]

                                          Cluster of Node  Degree per Cluster
Node
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                   8
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                2                  46
00018f34a982eac1cb43025fae6fef6ce72d07aa               11                  13
...                                                   ...                 ...
fffaf41f7996d36398386dee078f996a64ed282e               12                  10
fffbf57fc5682b3dee7d554ee0700b61142aa1c4              447                   1
fffeb86c30c05131bdc71785c57762a68841114e               10                   4
ffff61c00e3be793980e43a562bf70d43e321493                3                   6

[98103 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,6.0,6
de82eb60a065fef1c326f43adffece0ded1e16ff,NaN,NaN,0
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,41.0,42
...,...,...,...
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,4.0,2.0,2
b67837e9d10eaec453975cfd651d976cca52913d,4.0,31.0,32
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,4.0,4
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

# 101781 nodes  |  1082052 edges  | Time for calculation of z and P: 41 sec
[Processing year:2009]

                                          Cluster of Node  Degree per Cluster
Node
00000088bbc15a03ab89d8da6c356bf25aea9519             1457                   1
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                   9
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                2                  50
...                                                   ...                 ...
fffaf41f7996d36398386dee078f996a64ed282e                1                  10
fffbf57fc5682b3dee7d554ee0700b61142aa1c4               10                   1
fffeb86c30c05131bdc71785c57762a68841114e               10                   4
ffff61c00e3be793980e43a562bf70d43e321493                3                   6

[106229 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,6.0,7
de82eb60a065fef1c326f43adffece0ded1e16ff,1.0,1.0,1
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,42.0,43
...,...,...,...
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,4.0,2.0,2
b67837e9d10eaec453975cfd651d976cca52913d,4.0,31.0,32
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,4.0,4
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

# 109637 nodes  |  1219516 edges  | Time for calculation of z and P: 45 sec
[Processing year:2010]

                                          Cluster of Node  Degree per Cluster
Node
00000088bbc15a03ab89d8da6c356bf25aea9519             1400                   2
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                   9
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                2                  52
...                                                   ...                 ...
fffbf57fc5682b3dee7d554ee0700b61142aa1c4               10                   2
fffd458edd60ec0a19603fe8436df5c9d12d26ae                3                   8
fffeb86c30c05131bdc71785c57762a68841114e               10                   4
ffff61c00e3be793980e43a562bf70d43e321493                3                   6

[113991 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,5.0,8
de82eb60a065fef1c326f43adffece0ded1e16ff,1.0,1.0,1
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,42.0,43
...,...,...,...
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,547.0,3.0,3
b67837e9d10eaec453975cfd651d976cca52913d,4.0,32.0,33
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,4.0,4
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

# 117122 nodes  |  1357096 edges  | Time for calculation of z and P: 53 sec
[Processing year:2011]

                                          Cluster of Node  Degree per Cluster
Node
00000088bbc15a03ab89d8da6c356bf25aea9519             1336                   2
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                  10
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
0000ff68310e8a43c26371b4f0ff05ddaed93577                2                  56
...                                                   ...                 ...
fffd458edd60ec0a19603fe8436df5c9d12d26ae                3                   8
fffeb86c30c05131bdc71785c57762a68841114e               10                   4
ffff2cd797317607e23af945dcd34cb9fe46967c                3                   6
ffff61c00e3be793980e43a562bf70d43e321493                3                   7

[121077 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,5.0,8
de82eb60a065fef1c326f43adffece0ded1e16ff,1.0,1.0,1
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,44.0,45
...,...,...,...
3987411a2d938591d1e8d6dbcacf38e3e0bcc753,528.0,3.0,3
b67837e9d10eaec453975cfd651d976cca52913d,4.0,32.0,33
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,4.0,4
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

# 123901 nodes  |  1489422 edges  | Time for calculation of z and P: 68 sec
[Processing year:2012]

                                          Cluster of Node  Degree per Cluster
Node
00000088bbc15a03ab89d8da6c356bf25aea9519             1251                   2
0000a09bb47d436b675937186ab27b753bf7e0e5                3                   7
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                  10
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
...                                                   ...                 ...
fffd458edd60ec0a19603fe8436df5c9d12d26ae                3                   9
fffeb86c30c05131bdc71785c57762a68841114e               10                   6
ffff2cd797317607e23af945dcd34cb9fe46967c                3                   8
ffff61c00e3be793980e43a562bf70d43e321493                3                   7

[127514 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,5.0,8
de82eb60a065fef1c326f43adffece0ded1e16ff,1.0,1.0,1
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,44.0,45
...,...,...,...
b67837e9d10eaec453975cfd651d976cca52913d,4.0,32.0,33
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,4.0,4
593062a142997b9875a6794bedd26b85bdfa764e,9.0,10.0,11
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

# 130006 nodes  |  1611598 edges  | Time for calculation of z and P: 62 sec
[Processing year:2013]

                                          Cluster of Node  Degree per Cluster
Node
00000088bbc15a03ab89d8da6c356bf25aea9519             1176                   2
0000a09bb47d436b675937186ab27b753bf7e0e5                3                   7
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                  10
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
...                                                   ...                 ...
fffd458edd60ec0a19603fe8436df5c9d12d26ae                3                  10
fffeb86c30c05131bdc71785c57762a68841114e               10                   6
ffff2cd797317607e23af945dcd34cb9fe46967c                3                  10
ffff61c00e3be793980e43a562bf70d43e321493                3                   8

[133200 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,5.0,8
de82eb60a065fef1c326f43adffece0ded1e16ff,1.0,1.0,1
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,44.0,45
...,...,...,...
b67837e9d10eaec453975cfd651d976cca52913d,4.0,32.0,33
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,4.0,4
593062a142997b9875a6794bedd26b85bdfa764e,9.0,11.0,12
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

# 135260 nodes  |  1726998 edges  | Time for calculation of z and P: 73 sec
[Processing year:2014]

                                          Cluster of Node  Degree per Cluster
Node
00000088bbc15a03ab89d8da6c356bf25aea9519             1098                   2
0000a09bb47d436b675937186ab27b753bf7e0e5                3                   8
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                  10
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
...                                                   ...                 ...
fffd458edd60ec0a19603fe8436df5c9d12d26ae                3                  10
fffeb86c30c05131bdc71785c57762a68841114e                6                   7
ffff2cd797317607e23af945dcd34cb9fe46967c                3                  10
ffff61c00e3be793980e43a562bf70d43e321493                3                   8

[138091 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,5.0,8
de82eb60a065fef1c326f43adffece0ded1e16ff,1.0,1.0,1
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,44.0,45
...,...,...,...
b67837e9d10eaec453975cfd651d976cca52913d,4.0,32.0,33
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,4.0,4
593062a142997b9875a6794bedd26b85bdfa764e,10.0,11.0,12
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

# 139518 nodes  |  1826164 edges  | Time for calculation of z and P: 64 sec
[Processing year:2015]

                                          Cluster of Node  Degree per Cluster
Node
00000088bbc15a03ab89d8da6c356bf25aea9519             1012                   2
0000a09bb47d436b675937186ab27b753bf7e0e5                3                   8
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                  10
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
...                                                   ...                 ...
fffea404de3b99a2c601f2139c88524e43a5213e                3                  26
fffeb86c30c05131bdc71785c57762a68841114e                6                   7
ffff2cd797317607e23af945dcd34cb9fe46967c                3                  11
ffff61c00e3be793980e43a562bf70d43e321493                3                   8

[141655 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0.0,3.0,9
de82eb60a065fef1c326f43adffece0ded1e16ff,1.0,1.0,1
2f1476ad95398d72ff0024c560762eafc412bb18,2.0,6.0,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3.0,44.0,45
...,...,...,...
b67837e9d10eaec453975cfd651d976cca52913d,4.0,32.0,33
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3.0,4.0,4
593062a142997b9875a6794bedd26b85bdfa764e,10.0,11.0,12
664b5320a508aaad9dac45069740445403650941,3.0,1.0,2

# 142453 nodes  |  1901112 edges  | Time for calculation of z and P: 75 sec
[Processing year:2016]

                                          Cluster of Node  Degree per Cluster
Node
00000088bbc15a03ab89d8da6c356bf25aea9519              888                   2
0000a09bb47d436b675937186ab27b753bf7e0e5                3                   8
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb                4                  10
0000d7919aabb85fc11a83719d99f4b5c6f21bac                2                   2
...                                                   ...                 ...
fffea404de3b99a2c601f2139c88524e43a5213e                3                  26
fffeb86c30c05131bdc71785c57762a68841114e                6                   7
ffff2cd797317607e23af945dcd34cb9fe46967c                3                  11
ffff61c00e3be793980e43a562bf70d43e321493                3                   8

[144463 rows x 2 columns]

,Cluster of Node,Degree per Cluster,Degree
Node,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,0,3,9
de82eb60a065fef1c326f43adffece0ded1e16ff,1,1,1
2f1476ad95398d72ff0024c560762eafc412bb18,2,6,9
6ab4a46c3760044a027fe3038ce26df6f621426a,3,44,45
...,...,...,...
b67837e9d10eaec453975cfd651d976cca52913d,4,32,33
0d3c3b912ec593d7d94756853d7d0c4d11a39901,3,5,5
593062a142997b9875a6794bedd26b85bdfa764e,10,11,12
664b5320a508aaad9dac45069740445403650941,3,1,2

# 144463 nodes  |  1961258 edges  | Time for calculation of z and P: 66 sec

[Finished to calculate z and P for all years]
 Total calculation time: 752 sec

In [45]:
stack_df = pd.concat(df_list) 
stack_df.sort_values(['id', 'Timepoint'], inplace=True)
stack_df.reset_index(drop=True, inplace=True)
stack_df.index.name = 'index'
display(stack_df)

,id,Timepoint,Louvain cluster,Cluster_Size,z,P,Degree,Num_In_Citations
index,,,,,,,,
0,00000088bbc15a03ab89d8da6c356bf25aea9519,2005,5000,1,NaN,1.0,0,0
1,00000088bbc15a03ab89d8da6c356bf25aea9519,2006,4944,1,NaN,1.0,0,0
2,00000088bbc15a03ab89d8da6c356bf25aea9519,2007,2903,1,NaN,1.0,0,0
3,00000088bbc15a03ab89d8da6c356bf25aea9519,2008,2831,1,NaN,1.0,0,0
...,...,...,...,...,...,...,...,...
1762170,ffff61c00e3be793980e43a562bf70d43e321493,2013,3,18172,-0.244163,0.0,8,8
1762171,ffff61c00e3be793980e43a562bf70d43e321493,2014,3,18854,-0.249074,0.0,8,8
1762172,ffff61c00e3be793980e43a562bf70d43e321493,2015,3,19347,-0.257371,0.0,8,8
1762173,ffff61c00e3be793980e43a562bf70d43e321493,2016,3,19670,-0.263658,0.0,8,8

In [46]:
#stack_df.to_csv(graph_dir + 'All_Papers_Timepoint_Stack' + desc + '.csv', encoding='utf-8')

In [47]:
stack_df.set_index(['id', 'Timepoint'])

                                                    Louvain cluster  \
id                                       Timepoint
00000088bbc15a03ab89d8da6c356bf25aea9519 2005                  5000
                                         2006                  4944
                                         2007                  2903
                                         2008                  2831
...                                                             ...
ffff61c00e3be793980e43a562bf70d43e321493 2013                     3
                                         2014                     3
                                         2015                     3
                                         2016                     3

                                                    Cluster_Size         z  \
id                                       Timepoint
00000088bbc15a03ab89d8da6c356bf25aea9519 2005                  1       NaN
                                         2006                  1       NaN
                                         2007                  1       NaN
                                         2008                  1       NaN
...                                                          ...       ...
ffff61c00e3be793980e43a562bf70d43e321493 2013              18172 -0.244163
                                         2014              18854 -0.249074
                                         2015              19347 -0.257371
                                         2016              19670 -0.263658

                                                      P  Degree  \
id                                       Timepoint
00000088bbc15a03ab89d8da6c356bf25aea9519 2005       1.0       0
                                         2006       1.0       0
                                         2007       1.0       0
                                         2008       1.0       0
...                                                 ...     ...
ffff61c00e3be793980e43a562bf70d43e321493 2013       0.0       8
                                         2014       0.0       8
                                         2015       0.0       8
                                         2016       0.0       8

                                                    Num_In_Citations
id                                       Timepoint
00000088bbc15a03ab89d8da6c356bf25aea9519 2005                      0
                                         2006                      0
                                         2007                      0
                                         2008                      0
...                                                              ...
ffff61c00e3be793980e43a562bf70d43e321493 2013                      8
                                         2014                      8
                                         2015                      8
                                         2016                      8

[1762174 rows x 6 columns]

In [48]:
output_unstack = True

In [49]:
if output_unstack:
    unstack_df = stack_df.set_index(['id', 'Timepoint']).unstack()
    unstack_df

In [50]:
if output_unstack:
    unstack_df.columns = ['{0[0]:s} {0[1]:4d}'.format(col) for col in unstack_df.columns]
    unstack_df.index.name = 'id'
    display(unstack_df)

,Louvain cluster 1991,Louvain cluster 1992,Louvain cluster 1993,Louvain cluster 1994,Louvain cluster 1995,Louvain cluster 1996,Louvain cluster 1997,Louvain cluster 1998,Louvain cluster 1999,Louvain cluster 2000,...,Num_In_Citations 2007,Num_In_Citations 2008,Num_In_Citations 2009,Num_In_Citations 2010,Num_In_Citations 2011,Num_In_Citations 2012,Num_In_Citations 2013,Num_In_Citations 2014,Num_In_Citations 2015,Num_In_Citations 2016
id,,,,,,,,,,,,,,,,,,,,,
00000088bbc15a03ab89d8da6c356bf25aea9519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
0000a09bb47d436b675937186ab27b753bf7e0e5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,7.0,8.0,8.0,8.0
0000d0d159ad3d9702ad82d83a3e20e7fc6637cb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,10.0,10.0,10.0,10.0,11.0,11.0,11.0,11.0,11.0,11.0
0000d7919aabb85fc11a83719d99f4b5c6f21bac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffea404de3b99a2c601f2139c88524e43a5213e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-40.0,-40.0
fffeb86c30c05131bdc71785c57762a68841114e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,4.0,4.0,4.0,4.0,4.0,6.0,6.0,7.0,7.0,7.0
ffff2cd797317607e23af945dcd34cb9fe46967c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,9.0,11.0,11.0,12.0,12.0
ffff61c00e3be793980e43a562bf70d43e321493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.0,6.0,7.0,7.0,8.0,8.0,8.0,8.0

In [51]:
if output_unstack:
    unstack_w_df = unstack_df.reset_index()
    display(unstack_w_df)
    unstack_w_df.index.name = 'index'
    #unstack_w_df.to_csv(graph_dir + 'All_Papers_Timepoint_Untack' + desc + '.csv', encoding='utf-8')

,id,Louvain cluster 1991,Louvain cluster 1992,Louvain cluster 1993,Louvain cluster 1994,Louvain cluster 1995,Louvain cluster 1996,Louvain cluster 1997,Louvain cluster 1998,Louvain cluster 1999,...,Num_In_Citations 2007,Num_In_Citations 2008,Num_In_Citations 2009,Num_In_Citations 2010,Num_In_Citations 2011,Num_In_Citations 2012,Num_In_Citations 2013,Num_In_Citations 2014,Num_In_Citations 2015,Num_In_Citations 2016
0,00000088bbc15a03ab89d8da6c356bf25aea9519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,0000a09bb47d436b675937186ab27b753bf7e0e5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,7.0,8.0,8.0,8.0
2,0000d0d159ad3d9702ad82d83a3e20e7fc6637cb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,10.0,10.0,10.0,11.0,11.0,11.0,11.0,11.0,11.0
3,0000d7919aabb85fc11a83719d99f4b5c6f21bac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144459,fffea404de3b99a2c601f2139c88524e43a5213e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-40.0,-40.0
144460,fffeb86c30c05131bdc71785c57762a68841114e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,4.0,6.0,6.0,7.0,7.0,7.0
144461,ffff2cd797317607e23af945dcd34cb9fe46967c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,9.0,11.0,11.0,12.0,12.0
144462,ffff61c00e3be793980e43a562bf70d43e321493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.0,6.0,7.0,7.0,8.0,8.0,8.0,8.0

In [52]:
Graph = Copy_Clus2[-1]
nodes = Graph.nodes(data=True)
df = pd.DataFrame([i[1] for i in nodes], index=[i[0] for i in nodes])
df.index.name = 'id'

In [53]:
### Add Oldest in cluster flag

df.loc[:,'Oldest_in_Cluster Year'] = df.groupby(['Louvain cluster'])['Year'].transform(min)
df.loc[:,'Oldest_in_Cluster Flag'] = df[['Year', 'Oldest_in_Cluster Year']].apply(lambda x: x[0] == x[1], axis=1)
df

,Cluster_Size,Degree,Louvain cluster,Num_In_Citations,Num_Out_Citations,P,Year,authors,journalName,label,paperAbstract,title,z,Oldest_in_Cluster Year,Oldest_in_Cluster Flag
id,,,,,,,,,,,,,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,307,9,0,9,0,0.765432,2006,"[{'name': 'Afrodita Iorgulescu', 'ids': ['2676...",_,612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,_,_,-0.487709,1992,False
de82eb60a065fef1c326f43adffece0ded1e16ff,16901,1,1,1,0,0.000000,2007,"[{'name': 'Danil V. Makarov', 'ids': ['5513361...",_,de82eb60a065fef1c326f43adffece0ded1e16ff,_,_,-0.708737,1991,False
2f1476ad95398d72ff0024c560762eafc412bb18,10816,9,2,9,0,0.444444,1998,"[{'name': 'Ralph Bergmann', 'ids': ['1693143']...",_,2f1476ad95398d72ff0024c560762eafc412bb18,_,_,-0.336616,1991,False
6ab4a46c3760044a027fe3038ce26df6f621426a,19670,45,3,45,0,0.043457,2003,"[{'name': 'Maayan Roth', 'ids': ['2849887']}, ...",_,6ab4a46c3760044a027fe3038ce26df6f621426a,_,_,2.215252,1991,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b67837e9d10eaec453975cfd651d976cca52913d,24084,33,4,33,0,0.058770,2006,"[{'name': 'Yonghuai Liu', 'ids': ['1990125']}]",_,b67837e9d10eaec453975cfd651d976cca52913d,_,_,0.946536,1991,False
0d3c3b912ec593d7d94756853d7d0c4d11a39901,19670,5,3,5,0,0.000000,2006,"[{'name': 'Micha Hersch', 'ids': ['2375975']},...",_,0d3c3b912ec593d7d94756853d7d0c4d11a39901,_,_,-0.470234,1991,False
593062a142997b9875a6794bedd26b85bdfa764e,16682,12,10,12,0,0.152778,2012,"[{'name': 'Dimitrios Giannakis', 'ids': ['2158...",_,593062a142997b9875a6794bedd26b85bdfa764e,_,_,-0.033490,1991,False
664b5320a508aaad9dac45069740445403650941,19670,2,3,2,0,0.500000,1998,"[{'name': 'Adam Cheyer', 'ids': ['3156469']}, ...",_,664b5320a508aaad9dac45069740445403650941,_,_,-0.745668,1991,False

In [54]:
cols = [col for col in ['ML_flag', 'Oldest_in_Cluster Flag', 'Oldest_in_Cluster Year', 'Year', 'authors', 'journalName', 'venue', 'pdfUrls', 's2Url', 'keyPhrases', 'title', 'paperAbstract', 'Num_Out_Citations'] if col in df.columns.tolist()]
cols

['Oldest_in_Cluster Flag',
 'Oldest_in_Cluster Year',
 'Year',
 'authors',
 'journalName',
 'title',
 'paperAbstract',
 'Num_Out_Citations']

In [55]:
static_df = df[cols].copy()

In [56]:
if output_unstack:
    complete_df = pd.merge(static_df, unstack_df, left_index = True, right_index = True)
    display(complete_df)
    complete_w_df = complete_df.reset_index()
    complete_w_df.index.name = 'index'
    complete_w_df.to_csv(graph_dir + 'All_Papers_Complete_ver10' + desc + '.csv', encoding='utf-8')

,Oldest_in_Cluster Flag,Oldest_in_Cluster Year,Year,authors,journalName,title,paperAbstract,Num_Out_Citations,Louvain cluster 1991,Louvain cluster 1992,...,Num_In_Citations 2007,Num_In_Citations 2008,Num_In_Citations 2009,Num_In_Citations 2010,Num_In_Citations 2011,Num_In_Citations 2012,Num_In_Citations 2013,Num_In_Citations 2014,Num_In_Citations 2015,Num_In_Citations 2016
id,,,,,,,,,,,,,,,,,,,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,False,1992,2006,"[{'name': 'Afrodita Iorgulescu', 'ids': ['2676...",_,_,_,0,NaN,NaN,...,3.0,6.0,7.0,8.0,8.0,8.0,8.0,8.0,9.0,9.0
de82eb60a065fef1c326f43adffece0ded1e16ff,False,1991,2007,"[{'name': 'Danil V. Makarov', 'ids': ['5513361...",_,_,_,0,NaN,NaN,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2f1476ad95398d72ff0024c560762eafc412bb18,False,1991,1998,"[{'name': 'Ralph Bergmann', 'ids': ['1693143']...",_,_,_,0,NaN,NaN,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
6ab4a46c3760044a027fe3038ce26df6f621426a,False,1991,2003,"[{'name': 'Maayan Roth', 'ids': ['2849887']}, ...",_,_,_,0,NaN,NaN,...,42.0,42.0,43.0,43.0,45.0,45.0,45.0,45.0,45.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b67837e9d10eaec453975cfd651d976cca52913d,False,1991,2006,"[{'name': 'Yonghuai Liu', 'ids': ['1990125']}]",_,_,_,0,NaN,NaN,...,31.0,32.0,32.0,33.0,33.0,33.0,33.0,33.0,33.0,33.0
0d3c3b912ec593d7d94756853d7d0c4d11a39901,False,1991,2006,"[{'name': 'Micha Hersch', 'ids': ['2375975']},...",_,_,_,0,NaN,NaN,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0
593062a142997b9875a6794bedd26b85bdfa764e,False,1991,2012,"[{'name': 'Dimitrios Giannakis', 'ids': ['2158...",_,_,_,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.0,12.0,12.0,12.0,12.0
664b5320a508aaad9dac45069740445403650941,False,1991,1998,"[{'name': 'Adam Cheyer', 'ids': ['3156469']}, ...",_,_,_,0,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [57]:
measures = ['Cluster_Size', 'z', 'P', 'Degree', 'Num_In_Citations']

In [58]:
transform_dict = {col: {col+'_diff':'diff', col+'_shift':'shift'} for col in measures}
display(transform_dict)
stack_diff_df = stack_df.groupby('id').agg(transform_dict)
stack_diff_df

{'Cluster_Size': {'Cluster_Size_diff': 'diff', 'Cluster_Size_shift': 'shift'},
 'Degree': {'Degree_diff': 'diff', 'Degree_shift': 'shift'},
 'Num_In_Citations': {'Num_In_Citations_diff': 'diff',
  'Num_In_Citations_shift': 'shift'},
 'P': {'P_diff': 'diff', 'P_shift': 'shift'},
 'z': {'z_diff': 'diff', 'z_shift': 'shift'}}

C:\Users\U\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:4658: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

             Cluster_Size                            z                P  \
        Cluster_Size_diff Cluster_Size_shift    z_diff   z_shift P_diff
index
0                     NaN                NaN       NaN       NaN    NaN
1                     0.0                1.0       NaN       NaN    0.0
2                     0.0                1.0       NaN       NaN    0.0
3                     0.0                1.0       NaN       NaN    0.0
...                   ...                ...       ...       ...    ...
1762170            1132.0            17040.0  0.058923 -0.303085    0.0
1762171             682.0            18172.0 -0.004912 -0.244163    0.0
1762172             493.0            18854.0 -0.008296 -0.249074    0.0
1762173             323.0            19347.0 -0.006287 -0.257371    0.0

                     Degree                   Num_In_Citations  \
        P_shift Degree_diff Degree_shift Num_In_Citations_diff
index
0           NaN         NaN          NaN                   NaN
1           1.0         0.0          0.0                   0.0
2           1.0         0.0          0.0                   0.0
3           1.0         0.0          0.0                   0.0
...         ...         ...          ...                   ...
1762170     0.0         1.0          7.0                   1.0
1762171     0.0         0.0          8.0                   0.0
1762172     0.0         0.0          8.0                   0.0
1762173     0.0         0.0          8.0                   0.0


        Num_In_Citations_shift
index
0                          NaN
1                          0.0
2                          0.0
3                          0.0
...                        ...
1762170                    7.0
1762171                    8.0
1762172                    8.0
1762173                    8.0

[1762174 rows x 10 columns]

In [59]:
stack_diff_df.columns = ['{0[1]:s}'.format(col) for col in stack_diff_df.columns]
stack_diff_df.index.name = 'index'
display(stack_diff_df)

,Cluster_Size_diff,Cluster_Size_shift,z_diff,z_shift,P_diff,P_shift,Degree_diff,Degree_shift,Num_In_Citations_diff,Num_In_Citations_shift
index,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,1.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,1.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1762170,1132.0,17040.0,0.058923,-0.303085,0.0,0.0,1.0,7.0,1.0,7.0
1762171,682.0,18172.0,-0.004912,-0.244163,0.0,0.0,0.0,8.0,0.0,8.0
1762172,493.0,18854.0,-0.008296,-0.249074,0.0,0.0,0.0,8.0,0.0,8.0
1762173,323.0,19347.0,-0.006287,-0.257371,0.0,0.0,0.0,8.0,0.0,8.0

In [60]:
#stack2_df = pd.merge(stack_df, stack_diff_df, left_index = True, right_index = True)
#stack2_df

In [61]:
stack2_df = stack_df.copy()
for measure in measures:
    stack2_df.loc[:,measure+'(d)'] = stack_diff_df.loc[:,measure+'_diff'] / stack_diff_df.loc[:,measure+'_shift']
stack2_df

,id,Timepoint,Louvain cluster,Cluster_Size,z,P,Degree,Num_In_Citations,Cluster_Size(d),z(d),P(d),Degree(d),Num_In_Citations(d)
index,,,,,,,,,,,,,
0,00000088bbc15a03ab89d8da6c356bf25aea9519,2005,5000,1,NaN,1.0,0,0,NaN,NaN,NaN,NaN,NaN
1,00000088bbc15a03ab89d8da6c356bf25aea9519,2006,4944,1,NaN,1.0,0,0,0.000000,NaN,0.0,NaN,NaN
2,00000088bbc15a03ab89d8da6c356bf25aea9519,2007,2903,1,NaN,1.0,0,0,0.000000,NaN,0.0,NaN,NaN
3,00000088bbc15a03ab89d8da6c356bf25aea9519,2008,2831,1,NaN,1.0,0,0,0.000000,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762170,ffff61c00e3be793980e43a562bf70d43e321493,2013,3,18172,-0.244163,0.0,8,8,0.066432,-0.194409,NaN,0.142857,0.142857
1762171,ffff61c00e3be793980e43a562bf70d43e321493,2014,3,18854,-0.249074,0.0,8,8,0.037530,0.020117,NaN,0.000000,0.000000
1762172,ffff61c00e3be793980e43a562bf70d43e321493,2015,3,19347,-0.257371,0.0,8,8,0.026148,0.033308,NaN,0.000000,0.000000
1762173,ffff61c00e3be793980e43a562bf70d43e321493,2016,3,19670,-0.263658,0.0,8,8,0.016695,0.024430,NaN,0.000000,0.000000

In [62]:
stack2_df = stack2_df.reset_index(drop=True)
stack2_df.set_index('id', inplace=True)
stack2_df

,Timepoint,Louvain cluster,Cluster_Size,z,P,Degree,Num_In_Citations,Cluster_Size(d),z(d),P(d),Degree(d),Num_In_Citations(d)
id,,,,,,,,,,,,
00000088bbc15a03ab89d8da6c356bf25aea9519,2005,5000,1,NaN,1.0,0,0,NaN,NaN,NaN,NaN,NaN
00000088bbc15a03ab89d8da6c356bf25aea9519,2006,4944,1,NaN,1.0,0,0,0.000000,NaN,0.0,NaN,NaN
00000088bbc15a03ab89d8da6c356bf25aea9519,2007,2903,1,NaN,1.0,0,0,0.000000,NaN,0.0,NaN,NaN
00000088bbc15a03ab89d8da6c356bf25aea9519,2008,2831,1,NaN,1.0,0,0,0.000000,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
ffff61c00e3be793980e43a562bf70d43e321493,2013,3,18172,-0.244163,0.0,8,8,0.066432,-0.194409,NaN,0.142857,0.142857
ffff61c00e3be793980e43a562bf70d43e321493,2014,3,18854,-0.249074,0.0,8,8,0.037530,0.020117,NaN,0.000000,0.000000
ffff61c00e3be793980e43a562bf70d43e321493,2015,3,19347,-0.257371,0.0,8,8,0.026148,0.033308,NaN,0.000000,0.000000
ffff61c00e3be793980e43a562bf70d43e321493,2016,3,19670,-0.263658,0.0,8,8,0.016695,0.024430,NaN,0.000000,0.000000

In [63]:
static2_df = df[['Oldest_in_Cluster Flag', 'Oldest_in_Cluster Year', 'Year', 'title', 'Num_Out_Citations']].copy()
static2_df

,Oldest_in_Cluster Flag,Oldest_in_Cluster Year,Year,title,Num_Out_Citations
id,,,,,
612656d3eb9701d4a1bf51ae1c5f39d09a02f6eb,False,1992,2006,_,0
de82eb60a065fef1c326f43adffece0ded1e16ff,False,1991,2007,_,0
2f1476ad95398d72ff0024c560762eafc412bb18,False,1991,1998,_,0
6ab4a46c3760044a027fe3038ce26df6f621426a,False,1991,2003,_,0
...,...,...,...,...,...
b67837e9d10eaec453975cfd651d976cca52913d,False,1991,2006,_,0
0d3c3b912ec593d7d94756853d7d0c4d11a39901,False,1991,2006,_,0
593062a142997b9875a6794bedd26b85bdfa764e,False,1991,2012,_,0
664b5320a508aaad9dac45069740445403650941,False,1991,1998,_,0

In [64]:
long_df = pd.merge(static2_df, stack2_df, left_index = True, right_index = True)
display(long_df)
long_w_df = long_df.reset_index()
long_w_df.index.name = 'index'
long_w_df.to_csv(graph_dir + 'All_Papers_Long_ver10' + desc + '.csv', encoding='utf-8')

,Oldest_in_Cluster Flag,Oldest_in_Cluster Year,Year,title,Num_Out_Citations,Timepoint,Louvain cluster,Cluster_Size,z,P,Degree,Num_In_Citations,Cluster_Size(d),z(d),P(d),Degree(d),Num_In_Citations(d)
id,,,,,,,,,,,,,,,,,
00000088bbc15a03ab89d8da6c356bf25aea9519,False,1997,2005,_,0,2005,5000,1,NaN,1.0,0,0,NaN,NaN,NaN,NaN,NaN
00000088bbc15a03ab89d8da6c356bf25aea9519,False,1997,2005,_,0,2006,4944,1,NaN,1.0,0,0,0.000000,NaN,0.0,NaN,NaN
00000088bbc15a03ab89d8da6c356bf25aea9519,False,1997,2005,_,0,2007,2903,1,NaN,1.0,0,0,0.000000,NaN,0.0,NaN,NaN
00000088bbc15a03ab89d8da6c356bf25aea9519,False,1997,2005,_,0,2008,2831,1,NaN,1.0,0,0,0.000000,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ffff61c00e3be793980e43a562bf70d43e321493,False,1991,2002,_,0,2013,3,18172,-0.244163,0.0,8,8,0.066432,-0.194409,NaN,0.142857,0.142857
ffff61c00e3be793980e43a562bf70d43e321493,False,1991,2002,_,0,2014,3,18854,-0.249074,0.0,8,8,0.037530,0.020117,NaN,0.000000,0.000000
ffff61c00e3be793980e43a562bf70d43e321493,False,1991,2002,_,0,2015,3,19347,-0.257371,0.0,8,8,0.026148,0.033308,NaN,0.000000,0.000000
ffff61c00e3be793980e43a562bf70d43e321493,False,1991,2002,_,0,2016,3,19670,-0.263658,0.0,8,8,0.016695,0.024430,NaN,0.000000,0.000000

In [65]:
long2_df = long_df.copy()
long2_df.groupby('Cluster_Size')[['Louvain cluster']].nunique()

              Louvain cluster
Cluster_Size
1                        5800
2                        4241
3                        2905
4                        2023
...                       ...
22329                       1
23159                       1
23651                       1
24084                       1

[450 rows x 1 columns]

In [66]:
start = timer()
nx.write_gexf(Graph, graph_dir + 'ML_zP_ver10_' + str(max_year) + desc + '.gexf')
end = timer()
print('Time to write Gephi file: {0:.0f} sec'.format(end - start))

Time to write Gephi file: 98 sec

In [67]:
global_end = timer()
print('Time for all the processings: {0:.0f} sec'.format(global_end - global_start))

Time for all the processings: 2332 sec